body {
  background-color: #101010;
  color: #ffffff;
  font-family: "Arial Black", Gadget, sans-serif;
}
nav a {
  color: #ffffff;
}

a.auto-style1 {
  float: left;
}

a.auto-style2 {
  color: #f9f906;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #660000;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-decoration: underline;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
